@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* ----------------Custom Properties----------------------- */

:root {
  /* colours */
  --clr-dark: 230 35% 7%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font sizes */
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    /* --fs-900: 9.375rem; */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -----------------------UTILITIES------------------------ */

/* UTILITY RESET */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  height: 100vh;
  text-align: center;
  border: 5px solid limegreen;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

.grid-container * {
  max-width: 50ch;
}

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
    outline: 1px solid red;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    outline: 1px solid yellow;
  }

  .grid-container--home {
    padding-bottom: 6rem;
    align-items: end;
    /* height: 100vh; */
  }
}

/*  * + * meaning if the element have a sibling before it? */
/* .flow > * + * { */
/* OR */
.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
  outline: 1px solid red;
}

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-main-content:focus {
    position: relative;
  width: max-content;
  height: auto;
  clip: 0;
  background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
  
} 

/* didn't work for me skip content animation */

/* .skip-to-main-content {
  position: absolute;
  z-index: 9999;
  background: hsl( var(--clr-white) );
  color: hsl( var(--clr-dark) );
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-main-content:focus {
  transform: translateY(0);
} */

/* UTILITY RESET END */

/* colours */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-accent));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-accent));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* numbered titles */

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title > span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* ----------------COMPONENTS----------------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* primary-header */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-dark) / 0.95);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

/* firefox does support glassmophism yet*** */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(0);
  }

  .open {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    /* animation not working on background */
    /* transition: transform 500ms ease-in-out; */
  }
  /* attribute selector --- styles aren't carrying through */
  /* .mobile-nav-toggle[aria-expanded="true"] {
  background-image: url("./components/images/home/icon-close.svg");
} */

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url("./components/images/home/icon-hamburger.svg");
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
  }
  .mobile-nav-toggled {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-image: url("./components/images/home/icon-close.svg");
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  /* this will show up when you tab through */
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 10vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    background: hsl( var(--clr-white) / .25);
    order: 1;
    margin-right: -3rem;
  }

  nav {
    order: 2;
}

  .primary-navigation {
    margin-block: 2rem;
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

/* ARIA accessability for the tabs */

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

/* ARIA accessability for the tabs */

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

/* -------------------------------------------- */
/* ------------NUMBERED  SLIDER---------------- */
/* ------------STYLING GOES-------------------- */
/* ---------------HERE------------------------- */

/* .numbered-indicators > * {
  cursor: pointer;
  border: 0.2rem solid hsl( var(--clr-white) / .25);
  border-radius: 50%;
  padding: .5em;
  background-color: hsl( var(--clr-white) / .25);
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
  background-color: hsl( var(--clr-white) / .5);
}

.numbered-indicators > .active,
.numbered-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
} */

#root {
  background-size: cover;
  background-position: bottom center;
  background-image: url("./components/images/home/background-home-mobile.jpg");
  height: 100vh;
}

@media (min-width: 35em) {
  #root {
    background-size: cover;
    background-position: center center;
    background-image: url("./components/images/home/background-home-tablet.jpg");
    height: 100vh;
  }

}

@media (min-width: 45em) {
  #root {
    background-size: cover;
    background-position: bottom center;
    background-image: url("./components/images/home/background-home-desktop.jpg");
  }

  .grid-container {
    /* height: 100vh; */
    text-align: center;
    border: 5px solid limegreen;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
  }

  .grid-container--home {
    padding-bottom: 6rem;
    align-self: center;
    justify-self: center;
    height: 70vh;
  }
}
